.board{
    border-style: solid;
    border-width: 1px;
}

#reversi_board{
    border-style: solid;
    border-width: 1px;
    width: 496px;
}

.computer_board{
    border-color: rgb(0, 255, 21);
    border-style: solid;
    border-width: 1px;
}