.board{
    border-style: solid;
    border-width: 1px;
}

#reversi_board{
    border-style: solid;
    border-width: 1px;
    width: 496px;
}

.computer_board{
    border-color: rgb(255, 174, 0);
    border-style: solid;
    border-width: 1px;
}